  <div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="highlight my-3 p-3 text-center"><%= @user.username %></h1>
        <div class="bg-white p-3 my-3" id="about-me">
          <div class="d-flex justify-content-between align-items-baseline">
            <h2 class="mb-3">About me</h2>
            <% unless current_page?(edit_user_url) %>
              <span class="btn btn-secondary p-2"><%= link_to "Edit my profile", edit_user_url, id:"btn-edit-profile" %></span>
            <% end %>
          </div>
          <% if current_page?(edit_user_url) %>
            <%= simple_form_for(@user) do |f| %>
              <div class="mb-3">
                <span class="badge badge-primary">Email</span> <span class="text-muted"><%= @user.email %></span>
              </div>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :photo, as: :file, class: 'avatar'%>
              <%= f.button :submit, "Update my profile", class: 'btn btn-primary' %>
            <% end %>
          <% else %>
            <div>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center"> <i class="far fa-envelope icon-user-profile pr-2"> </i> <%= @user.email %> </li>
                <li class="d-flex align-items-center"> <i class="far fa-id-badge icon-user-profile pr-2"> </i> <%= "#{@user.first_name} #{@user.last_name}" %> </li>
              </ul>
            </div>
          <% end %>
        </div>

      <div class="bg-white p-3 my-3">
        <h2 class="mb-3">My favorites heroes</h2>
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-baseline flex-wrap">
              <% @user.likes.each do |like| %>
                <% heroe = Heroe.find(like.heroe_id)  %>
                <div class="col-6 p-3">
                  <%= link_to hero_path(heroe) do %>
                    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                      url(<%=heroe.image_hero%>);">
                      <h2><%= heroe.name.capitalize %> </h2>
                      <p><i class="fas fa-heart"></i> <%= heroe.likes.count %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
