<div class="container">
  <div class="card-hero", style="margin-top: 74px;">
    <%= image_tag @heroe.image_hero %>

    <div class="card-hero-infos">
      <%= link_to edit_hero_path do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <h2 class="highlight text-center mb-3"> <%= @heroe.name %> </h2>
      <i class="text-secondary"><strong>Alias</strong> <%= @heroe.aliases %></i>
      <p class="mb-3 mt-3"><strong><i class="fas fa-map-marked-alt"></i></strong>  <%= @heroe.address %></p>
      <br>
      <div class="d-flex justify-content-between">
        <div class="Appearance">
          <h6>Appearance</h6>
          <p><strong>Gender :</strong> <%= @heroe.gender %> </p>
          <p><strong>Race :</strong>  <%= @heroe.race %></p>

          <% if @heroe.height == 0 %>
            <p><strong>Heigth :</strong> na </p>
          <% else %>
            <p><strong>Heigth :</strong> <%= @heroe.height %> cm</p>
          <% end %>

          <% if @heroe.height == 0 %>
            <p><strong>Weight :</strong> na </p>
          <% else %>
            <p><strong>Weight :</strong> <%= @heroe.weight %> kg</p>
          <% end %>
        </div>

        <div class="powerstats">
          <h6>Powerstats</h6>
          <p><strong>Intelligence :</strong> <%= @heroe.intelligence %> </p>
          <p><strong>Strength :</strong>  <%= @heroe.strength %></p>
          <p><strong>Power :</strong> <%= @heroe.power %> </p>
          <p><strong>Combat :</strong>  <%= @heroe.combat %></p>
          <% if @heroe.speed == 0 %>
            <p><strong>Speed :</strong> na </p>
          <% else %>
            <p><strong>Speed :</strong> <%= @heroe.speed %></p>
          <% end %>

          <% if @heroe.durability == 0 %>
            <p><strong>Durability :</strong> na </p>
          <% else %>
            <p><strong>Durability :</strong> <%= @heroe.durability %></p>
          <% end %>

        </div>
      </div>
      <hr>
      <p><strong>Description :</strong><br><br>
       <%= @heroe.description %></p>
    </div>
  </div>

  <div class="card-reviews mt-3">
   <div class="container my-3 bg-white">
      <h4 class="p-2" style="position:relative;=">Reviews
      <%= link_to new_hero_review_path(@heroe) do %>
        <i class="fas fa-feather-alt p-2 m-2" style="position:absolute;right: 0; top: 0;"></i>
      <% end %>
      </h4>


        <% @heroe.reviews.each do |review| %>
          <p class="list-group-item">
            <b> <%= review.user.username %></b>
            <br>
            <%= review.content %>
            <%= link_to "Remove",
                    review_path(review),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></p>
        <% end %>
  </div>

  </div>
</div>
