<div class="container">
  <div class="card-hero">
    <div class="card-image col-5">
      <% if @heroe.photos.attached?  %>
        <%= cl_image_tag @heroe.photos[0].key %>
      <% else %>
        <%= image_tag @heroe.image_hero %>
      <% end %>
      <hr class="ml-auto mr-auto mb-2">
      <div class="likes d-flex">
        <% if current_user %>
        <% pre_like = @heroe.likes.find { |like| like.user_id == current_user.id} %>
        <% end %>
        <% if pre_like && policy(Like).destroy?%>
          <%= link_to hero_like_path(@heroe, pre_like), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to hero_likes_path(@heroe), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
        <p><%= @heroe.likes.count %> <%= (@heroe.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      </div>
    </div>
    <div class="card-hero-infos">
      <%= link_to edit_hero_path do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <h2 class="highlight text-center mb-3"> <%= @heroe.name %> </h2>
      <i class="text-secondary"><strong>Alias</strong> <%= @heroe.aliases %></i>
      <p class="mb-3 mt-3"><strong><i class="fas fa-map-marked-alt"></i></strong>  <%= @heroe.address %></p>
      <br>
      <div class="d-flex justify-content-between">
        <div class="Appearance">
          <h6>Appearance</h6>
          <p><strong>Gender :</strong> <%= @heroe.gender %> </p>
          <p><strong>Race :</strong>  <%= @heroe.race %></p>

          <% if @heroe.height == 0 %>
            <p><strong>Height :</strong> na </p>
          <% else %>
            <p><strong>Height :</strong> <%= @heroe.height %> cm</p>
          <% end %>

          <% if @heroe.weight == 0 %>
            <p><strong>Weight :</strong> na </p>
          <% else %>
            <p><strong>Weight :</strong> <%= @heroe.weight %> kg</p>
          <% end %>
        </div>

        <div class="powerstats">
          <h6>Powerstats</h6>
          <p><strong>Intelligence :</strong> <%= @heroe.intelligence %> </p>
          <p><strong>Strength :</strong>  <%= @heroe.strength %></p>
          <p><strong>Power :</strong> <%= @heroe.power %> </p>
          <p><strong>Combat :</strong>  <%= @heroe.combat %></p>
          <% if @heroe.speed == 0 %>
            <p><strong>Speed :</strong> na </p>
          <% else %>
            <p><strong>Speed :</strong> <%= @heroe.speed %></p>
          <% end %>

          <% if @heroe.durability == 0 %>
            <p><strong>Durability :</strong> na </p>
          <% else %>
            <p><strong>Durability :</strong> <%= @heroe.durability %></p>
          <% end %>

        </div>
      </div>
      <hr>
      <p><strong>Description :</strong><br><br>
       <%= @heroe.description %></p>
    </div>
  </div>

  <div class="card-reviews mt-3 mb-3">
    <div class="container my-3 bg-white">
      <% if @heroe.reviews.any? %>

        <h4 class="p-2" style="position:relative;=">Reviews
          <% if !@avg.nan? || @avg.nil? %>
            <% @avg = (@avg * 2.0).round / 2.0 %>
            <span> <%= icon('fas', 'star', class: 'star-rating') * @avg %></span>
            <% if @avg.round != @avg  %>
              <span><%= icon('fas', 'star-half-alt', class: 'star-rating') %></span>
            <% end %>
            <span><%= icon('far', 'star', class: 'star-rating') * (5 - @avg) %></span>
          <% end %>
          <%= link_to new_hero_review_path(@heroe) do %>
            <!-- <i class="fas fa-feather-alt p-2 m-2"></i> -->
            <i class="far fa-comments with"></i>
          <% end %>
        </h4>



        <% @heroe.reviews.each do |review| %>
          <p class="list-group-item">

            <b> <%= review.user.username %></b>

            <% review.rating.to_i.times do  %>
              <span><i class="fas fa-star" style="color:#FFD700;"></i></span>
            <% end %>
            <% review.blank_stars.times do %>
              <span><i class="far fa-star" style="color:#DDDDDD;"></i></span>
            <% end %>

            <%= link_to review_path(review),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash" style="position:absolute;right:15px;color:#CCCCCC;"></i>
                    <% end %>
             <br>
            <%= review.content %>

          </p>
        <% end %>

      <% else %>
        <h4 class="text-center yellow-color">Please put a comment here !</h4>
        <div class="text-center">
          <%= link_to new_hero_review_path(@heroe) do %>
            <i class="far fa-comments none"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
