<div class="container">
  <div class="card-hero", style="margin-top: 80px;">
    <%= image_tag @heroe.image_hero %>

  <div class="card-hero-infos">
    <h2><%= @heroe.name %></h2>
    <p><strong>Address :</strong> <%= @heroe.address %></p>
    <% if @heroe.height == 0 %>
      <p><strong>Heigth :</strong> na </p>
    <% else %>
      <p><strong>Heigth :</strong> <%= @heroe.height %> cm</p>
    <% end %>

    <% if @heroe.height == 0 %>
      <p><strong>Heigth :</strong> na </p>
    <% else %>
      <p><strong>Weight :</strong> <%= @heroe.weight %> kg</p>
    <% end %>

    <hr>
    <p><strong>Description :</strong> <%= @heroe.description %></p>
  </div>
</div>
</div>

<div class="container my-3">
  <h4 class="p-2">Other Pictures</h4>
  <div class="card-heroes">
    <%= image_tag @heroe.image_hero, class: "p-2"%>
    <%= image_tag @heroe.image_hero, class: "p-2"%>
  </div>
</div>

<div class="container my-3 ">
  <div class="card-hero">
    <h4 class="p-2">Reviews</h4>
  </div>
</div>

