
<div class="container" , style="margin-top: 74px;">
  <%= simple_form_for [ @heroe, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.label :rating, 'Rating', class: 'indent' %>
    <div class= "rating">
      1 &#9734;<%= f.radio_button :rating, '1' %>
      2 &#9734;<%= f.radio_button :rating, '2' %>
      3 &#9734;<%= f.radio_button :rating, '3' %>
      4 &#9734;<%= f.radio_button :rating, '4' %>
      5 &#9734;<%= f.radio_button :rating, '5' %>
    </div>

    <%= f.submit "Send your review", class: "btn btn-primary mt-2" %>
  <% end %>
</div>


